@inherits Umbraco.Web.Mvc.UmbracoViewPage<PDfdownloadButton>



@{
    Layout = null;

    var linkText = "Download this";
    var saveAsName = "TEST";

}

    <div class="pdfButton">
        <button class="btn btnSecondary pdfDownload" onclick="downloadPdf();">@Model.LinkText</button>
        @*
        <form id="frmCreatePDF" action="/umbraco/surface/PDF/GeneratePDF" method="post" style="display:none">
            @Html.TextBoxFor(m => m.formData, new { htmlAttributes = new { @class = "form-control", @id = "form-control" } })
        </form>
        *@



       

        @using (Html.BeginForm("GeneratePDF", "PDF", FormMethod.Post, new { id = "frmCreatePDF", content = saveAsName }))
        {
            @Html.TextBoxFor(m => m.formData)
        }

    </div>

<script>


    function downloadPdf() {
        var content = document.getElementById("mainContent");
        localStorage.setItem("pdfMe", content.innerHTML);

        //$("#formData").val(JSON.stringify(localStorage));
        $("#frmCreatePDF").submit();

    }

</script>