@inherits Umbraco.Web.Mvc.UmbracoViewPage<PDfdownloadButton>



@{
    Layout = null;

   // Model.content = System.Web.HttpUtility.HtmlDecode(Model.content);

   }



@* 
    
    All this button should do is, take the content of a div (eventually) and pass that data to the controller.
    
*@
    <div id="pdfButton">
  
        @using (Html.BeginUmbracoForm("GeneratePDF", "PDF"))
        {
           @Html.TextBox("content", System.Web.HttpUtility.HtmlEncode(Model.content), new { id = "pdfContent"})
            <input type="submit" value="@Model.LinkText" />
        }

    </div>
    
    <script>
        getContent();

        function getContent() {
         
            document.getElementById("pdfContent").value = document.getElementById("mainContent").innerHTML;
        };
    </script>