@inherits Umbraco.Web.Mvc.UmbracoViewPage<PDfdownloadButton>

@{
    Layout = null;

    var linkText = "DOWNLOAD";
    var saveAsName = "TEST";

}



<div class="pdfButton">
<button class="btn btnSecondary pdfDownload" onclick="downloadPdf();">Download PDF Version</button>

    <form id="frmCreatePDF" action="/umbraco/surface/PDF/GeneratePDF" method="post" style="display:none">
        <input type="text" id="btnSendData" name="btnSendData" value="" />
    </form>

</div>



<script>

    function downloadPdf() {
        $("div.mainContent").not("div.pdfButton").text();
        $("#frmCreatePDF").submit();

        console.log(divHtml);

    }

</script>